<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
    <a th:href="@{/main}">Назад в main</a><br>
        <div>
            <table border="1">
                <tr>
                    <th>User</th>
                    <th>Delete</th>
                </tr>
                <tr th:each="user : ${users}">
                    <td>
                        <div>
                            <table border="1">
                                <tr>
                                    <th>ID</th>
                                    <th>UserName</th>
                                    <th>Roles</th>
                                </tr>
                                <tr>
                                    <td> <span th:text="${user.getId()}"> </span> </td>
                                    <td> <span th:text="${user.getUsername()}"> </span> </td>
                                    <td> <span th:text="${user.getRoles()}"> </span> </td>
                                </tr>
                            </table>
                        </div>
                         <td>
                            <form name="user" th:action="@{/admin}"   method="post">
                                <input type="hidden" th:name="user" th:value="*{user.id}">
                                <input type="submit" value="Delete User" >
                            </form>
                         </td>

                    </td>

                </tr>
            </table>
        </div>

</body>
</html>