<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
</head>
<body>
<div>
    <form name="product" th:action="@{/order}" method="post">


    <span th:text="${user.getUsername()}">  </span>
    <br>
    <span th:text="${prod.getId()}">  </span>
    <br>
    <span th:text="${prod.getName()}">  </span>
    <br>
    <span th:text="${prod.getPrice()}">  </span>
    <br>
    <span th:text="${prod.getImg()}">  </span>
    <br>
    <h2>Are you sure?</h2>
        <input type="hidden" th:id="product" th:name="product" th:value="*{prod.id}">
        <input type="submit">
    </form>

</div>
</body>
</html>