<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a th:href="@{/main}">Назад в main</a><br>

<form th:action="@{/registration}" method="POST">
    <label>Username
        <input type="text" th:field="*{user.username}" th:name="username" placeholder="username">
    </label>
    <br>
    <label>Password
        <input type="text" th:field="*{user.password}" th:name="password" placeholder="password">
    </label>
    <br>
    <label>Repeat password
        <input type="text" th:field="*{user.matchingPassword}" th:name="mathcingPassword" placeholder="repeat password">
    </label>
    <br>
    <input type="submit" value="Sign up">
</form>

</body>
</html>